# This is Git's per-user configuration file.

[user]
	email = rohangupta883@gmail.com
	name = Rohan Gupta

[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[pull]
	rebase = true
[init]
	templatedir = /Users/rohangupta/.git-templates
[safe]
	directory = /Users/rohangupta/Desktop/Developer/SWE-agent
	directory = /Users/rohangupta/Desktop/Developer/penn-clubs
