# This is Git's per-user configuration file.

[user]
	email = rohangupta883@gmail.com
	name = Rohan Gupta

[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
[pull]
	rebase = true
[init]
	templatedir = /Users/rohangupta/.git-templates
